/* CSS cho modal-card */

.modal {
    display: inline;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

.close-btn {
    float: right;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    max-width: 50px;
    margin-right: 10px;
}

#checkoutBtn {
    display: block;
    margin-top: 20px;
}
